$veronica: #fe4365;
$veronica-lite: #fc9d9a;
$light-yellow: #f9cdad;
$light-green: #c8c8a9;
$med-green: #83af9b;

$turquoise: $veronica;
$info: $veronica-lite;
$cyan: $veronica-lite;
$green: $med-green;
$success: $med-green;
$warning: $light-yellow;
$yellow: $light-yellow;
