h1, h2, h3, h4, h5, h6 {
    color: $veronica;
    text-transform: uppercase;
    &.title {
        color: $veronica;
    }
}

.subtitle {
    color: $veronica-lite;
    font-weight: lighter;
}

.content {
    p {
        font-size: 20px;
        @include until(480px) {
            font-size: 16px;
        }
    }
}
