#contact-form {
    .content {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        color: $veronica-lite;
        font-weight: lighter;
        a, strong {
            color: $veronica;
            font-weight: normal;
        }
    }
}
